terraform {
  backend "s3" {
    bucket = "datameshy-platform-tfstate"
    key    = "{{ domain }}/terraform.tfstate"
    region = "us-east-1"

    dynamodb_table = "datameshy-tfstate-locks"
    encrypt        = true
  }
}
